body {
    display: grid;
    grid-template-columns: 1fr;
    background: rgb(30,32,52);
}

#container {
    display: grid;
    grid-template-columns: 1fr;
}

#navbar {
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#nav-left {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
}

#nav-logo {
    margin-top: -5%;
    display: grid;
    grid-template-columns: 1fr;
}

#nav-img {
    height: 280px;
}

#nav-right {
    display: grid;
    grid-template-columns: 1fr;
}

#nav-links {
    width: 40%;
    padding-top: 4%;
    padding-right: 10%;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nav-link {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
}

.link-text {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    padding: 20px 0px;
    opacity: 0.75;
    transition: 300ms;
}

.link-text:hover {
    opacity: 1;
}

.link-text::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #fff;
}

.link-text-fade-up::before {
    width: 100%;
    bottom: -10px;
    opacity: 0;
}

.link-text-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
}

#headline {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -4%;
    margin-bottom: 2%;
}

#headline-text {
    color: #fff;
    font-size: 40px;
    letter-spacing: 1.5px;
}

#jumbo {
    border-radius: 5px;
    background-color: rgb(21, 22, 39);
    justify-self: center;
    width: 65%;
    height: 60vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#jumbo-title {
    justify-self: center;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
}

.title-text {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

#jumbo-left {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
}

#jumbo-text-content {
    align-self: center;
    justify-self: center;
    width: 65%;
    margin-top: 4%;
    display: grid;
    grid-template-columns: 1fr;
}

.book-content {
    color: #fff;
    line-height: 1.6;
    font-size: 18px;
}

#call-to-action {
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
}

#cta-button {
    text-align: center;
    height: fit-content;
    border: 1px solid #8e6c39;
    border-radius: 50px;
    padding: 16%;
    width: 110px;
    text-decoration: none;
    color: #8e6c39;
    font-size: 20px;
    transition: .2s;
}

#cta-button:hover {
    color: #ddc9aa;
    background-color: #8e6c39;
}

#jumbo-right {
    grid-row: 1/3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

#jumbo-book-img {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
}

.book1-view {
    display: grid;
    grid-template-columns: 1fr;
}

.book-img {
    height: 320px;
    box-shadow: 6px 8px 10px rgb(10, 10, 24);
    transition: .4s;
}

#book2-content {
    display: none;
}

#book2-view {
    display: none;
}

#reviews {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    height: 300px;
    width: 90%;
    margin-top: 6%;
    align-items: center;
    justify-items: center;
}

#reviews-header {
    color: #fff;
    font-size: 40px;
    letter-spacing: 1.5px;
}

#reviews-boxes {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 380px;
    width: 100%;
    padding: 2%;
    align-items: center;
    justify-items: center;
}

.review-box {
    border-radius: 5px;
    background-color: rgb(21, 22, 39);
    justify-self: center;
    width: 85%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr;
}

.review-content {
    width: 75%;
    padding-top: 6%;
    justify-self: center;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(223, 221, 221);
}

.review-author {
    padding-left: 6%;
    padding-top: 6%;
    font-weight: bold;
}

#contact {
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
}

/****************************
*****************************
*****************************/

#contact {
    margin-top: 16%;
    margin-bottom: 4%;
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .contact-box {
    justify-self: center;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  
  .contact-links, .contact-form-wrapper {
    padding: 8% 5% 10% 5%;
  }
  
  
  .contact-links {
    background-color: #1f2e43;
    background:
      radial-gradient(
        circle at 55% 92%, #426691 0 12%, transparent 12.2%
      ), 
      radial-gradient(
        circle at 94% 72%, #426691 0 10%, transparent 10.2%
      ), 
      radial-gradient(
        circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
      ), 
      radial-gradient(
        circle at 0% 0%, #263a53 0 40%, transparent 40.2%
      ), 
      #1f2e43;
    border-radius: 10px 0 0 10px;
  }
  
  .contact-form-wrapper {
    background-color: #3852748f;
    border-radius: 0 10px 10px 0;
  }
  
  #contact h2 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  
  .link {
    margin: 10px;
    cursor: pointer;
  }
  
  #contact img {
    width: 45px;
    height: 45px;
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #0006);
    transition: 0.2s;
    user-select: none;
  }
  
  #contact img:hover {
    transform: scale(1.1, 1.1);
  }
  
  #contact img:active {
    transform: scale(1.1, 1.1);
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #222)
      sepia(0.3);
  }
  
  .form-item {
    position: relative;
  }
  
  label, input, textarea {
    font-family: 'Poppins', sans-serif;
  }
  
  label {
    position: absolute;
    top: 30px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
  }
  
  input, textarea {
    margin-top: 2%;
    width: 90%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
  }

  textarea {
      height: 100px;
  }
  
  input:focus+label, 
  input:valid+label, 
  textarea:focus+label, 
  textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -10px;
    transition: all .225s ease;
  }
  
  .submit-btn {
    background-color: #fd917e;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  
  .submit-btn:hover {
    transform: scale(1.1, 1.1);
  }
  
  .submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
  
  @media only screen and (max-width: 800px) {
    h2 {
      font-size: clamp(40px, 10vw, 60px);
    }
  }
  
  @media only screen and (max-width: 400px) {
    h2 {
      font-size: clamp(30px, 12vw, 60px);
    }
    
    .links {
      padding-top: 30px;
    }
    
    img {
      width: 38px;
      height: 38px;
    }
  }

/*
///////////////////////////
//////////MOBILE///////////
///////////////////////////
*/

@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    background: rgb(30,32,52);
  }

  .mobile {
    display: none !important;
  }

  #container {
      display: grid;
      grid-template-columns: 1fr;
  }

  #navbar {
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr 4fr;
  }

  #nav-left {
      display: grid;
      grid-template-columns: 1fr;
      height: fit-content;
  }

  #nav-logo {
      margin-top: -5%;
      margin-left: -20%;
      display: grid;
      grid-template-columns: 1fr;
  }

  #nav-img {
      height: 130px;
      width: 200px;
  }

  #nav-right {
      display: grid;
      grid-template-columns: 1fr;
  }

  #nav-links {
      width: 90%;
      padding-top: 0%;
      padding-right: 0%;
      justify-self: start;
      align-self: center;
      margin-top: -10%;
      margin-left: -30%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15px;
  }

  .nav-link {
      width: fit-content;
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr;
  }

  .link-text {
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-weight: 100;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      position: relative;
      padding: 20px 0px;
      opacity: 0.75;
      transition: 300ms;
  }

  .link-text:hover {
      opacity: 1;
  }

  .link-text::before {
      transition: 300ms;
      height: 3px;
      content: "";
      position: absolute;
      background-color: #fff;
  }

  .link-text-fade-up::before {
      width: 100%;
      bottom: -10px;
      opacity: 0;
  }

  .link-text-fade-up:hover::before {
      bottom: 10px;
      opacity: 1;
  }

  #headline {
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 2%;
      margin-bottom: 10%;
  }

  #headline-text {
      color: #fff;
      font-size: 30px;
      letter-spacing: 1.5px;
  }

  #jumbo {
      border-radius: 5px;
      background-color: rgb(21, 22, 39);
      justify-self: center;
      width: 85%;
      height: 350px;
      display: grid;
      grid-template-columns: 3fr 2fr;
  }

  #jumbo-title {
      margin-top: -4%;
      justify-self: center;
      grid-row: 1;
      grid-column: 1;
      display: grid;
      grid-template-columns: 1fr;
      width: 80%;
  }

  .title-text {
      color: #fff;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
  }

  #jumbo-left {
      grid-row: 2;
      grid-column: 1;
      display: grid;
      grid-template-columns: 1fr;
  }

  #jumbo-text-content {
      align-self: center;
      justify-self: center;
      width: 80%;
      margin-top: 4%;
      display: grid;
      grid-template-columns: 1fr;
  }

  .book-content {
      color: #fff;
      line-height: 1.6;
      font-size: 12px;
  }

  #call-to-action {
      margin-left: 50%;
      padding: 2%;
      display: grid;
      grid-template-columns: 1fr;
      justify-self: center;
  }

  #cta-button {
      text-align: center;
      height: fit-content;
      border: 1px solid #8e6c39;
      border-radius: 50px;
      padding: 10%;
      width: 100px;
      text-decoration: none;
      color: #8e6c39;
      font-size: 16px;
      transition: .2s;
  }

  #cta-button:hover {
      color: #ddc9aa;
      background-color: #8e6c39;
  }

  #jumbo-right {
      grid-row: 1/3;
      grid-column: 2;
      display: grid;
      grid-template-columns: 1fr;
      height: 80%;
  }

  #jumbo-book-img {
      align-self: center;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr;
  }

  .book1-view {
      display: grid;
      grid-template-columns: 1fr;
  }

  .book-img {
      margin-left: -6%;
      height: 170px;
      width: 110px;
      box-shadow: 6px 8px 10px rgb(10, 10, 24);
      transition: .4s;
  }

  #book2-content {
      display: none;
  }

  #book2-view {
      display: none;
  }

  #reviews {
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr;
      height: 300px;
      width: 90%;
      margin-top: 15%;
      align-items: center;
      justify-items: center;
  }

  #reviews-header {
      color: #fff;
      font-size: 30px;
      letter-spacing: 1.5px;
  }

  #reviews-boxes {
      margin-top: -15%;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr;
      height: 380px;
      width: 100%;
      padding: 2%;
      align-items: center;
      justify-items: center;
  }

  .review-box {
      border-radius: 5px;
      background-color: rgb(21, 22, 39);
      justify-self: center;
      width: 85%;
      height: 200px;
      display: grid;
      grid-template-columns: 1fr;
  }

  .review-content {
      width: 75%;
      padding-top: 6%;
      justify-self: center;
      font-size: 14px;
      line-height: 1.5;
      color: rgb(223, 221, 221);
  }

  .review-author {
      padding-left: 6%;
      padding-top: 6%;
      font-weight: bold;
  }

  #contact {
      display: grid;
      grid-template-columns: 1fr;
      height: 200px;
  }
}